---
import Section from '../Section'
import heroImage from '../../assets/hero.png'
import { H1 } from '../ui/typography'
import { Button } from '../ui/button'
import type { icons } from 'lucide-react'

interface Props {
  preTitle?: string
  title: string
  subtitle?: string
  image?: string
  cta?: {
    icon: keyof typeof icons
    label: string
    href: string
  }
}

const { preTitle, title, subtitle, image, cta } = Astro.props
---

<Section.Root
  type="card"
  className="relative dark text-foreground bg-foreground min-h-[300px] flex flex-col items-center justify-center"
>
  <Section.Content className=" text-center flex flex-col gap-6 max-w-optical items-center mx-auto">
    <img
      src={image || heroImage.src}
      alt={title}
      class="h-full rounded-3xl object-cover absolute w-full top-0 opacity-60 shadow-2xl"
    />
    <div class="z-10 flex flex-col gap-6">
      <div class="flex flex-col gap-3">
        {preTitle && <p class="text-background/50 font-semibold text-lg">{preTitle}</p>}
        <H1 className="text-7xl text-background">{title}</H1>
        {subtitle && <p class="mt-0 text-background/90 max-w-[50ch] m-auto">{subtitle}</p>}
      </div>
      {
        cta && (
          <a href={cta.href}>
            <Button icon={cta.icon}>{cta.label}</Button>
          </a>
        )
      }
    </div>
  </Section.Content>
</Section.Root>
